#ignore the incomming dir
incomming/*
received/*
data/*
#started ignoriing the dtat folder aswell, since this is a tmpfs now, 
#WARNING: changes to db may not be reflected in Basiin.db.sql be careful about mods
